
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using FilmProject.Presentation.Models
@model RenderMoviesViewModel


 @for (int i = 0; i < Model.Movies.Count(); i++)
{
   
     
    
     <div class="col-lg-4 col-md-6 col-sm-6">
     
                   <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="~/img/trending/trend-1.jpg">
                                            <div class="ep">@Model.OrtalamaList.ElementAt(i) / 10</div>
                                            <div class="comment"><i class="fa fa-comments"></i> @Model.Movies.ElementAt(i).Comments.Count</div>
                                            <div class="view"><i class="fa fa-eye"></i>@i</div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                @foreach (var x in Model.Movies.ElementAt(i).MovieCategories){
                                                    <li>@x.Category.CategoryName</li>
                                                }
                                            </ul>
                                            <h5><a href="#">@Model.Movies.ElementAt(i).MovieName</a></h5>
                                        </div>
                </div>
     </div>
 }

