@using FilmProject.Presentation.Models
@model IEnumerable<MovieViewModel>



<body>
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product__item product__item__custom film-card">
          

                <div id="movieId" class="d-none">@item.Id</div>
                <div class="product__item__pic set-bg film-card__img rounded-3" style="background-image:url('/Uploads/@item.PhotoPath')">
                   
                    <div class="ep">@item.Ortalama / 5</div>
                    <div class="comment"><i class="fa fa-comments"></i> @item.Comments.Count</div>
                    <div class="view"><i class="fa fa-heart"></i>0</div>     @*Buraya kaç kişi bunu favorilerine eklemiş o listenebilir*@
                 
                </div>
                <div class="product__item__text film-card__text">
                    <ul>
                        @foreach (var x in item.MovieCategories)
                        {
                            <li>@x.CategoryName</li>
                        }
                    </ul>

                       @if (item.MovieName.Length > 30)
                      {
                              <h5  style="overflow:hidden" ><a href="#">@item.MovieName.Substring(0, 30)... </a> </h5>
                       }
                        else
                       {
                              <h5><a href="#">@item.MovieName</a></h5>
                       }
               

                </div>
            </div>
        </div>
    }

    <script>

        $(function () {
            $(".product__item").click(function () {

                let movieId = $(this).children().first().text();
                console.log(movieId);
                location.href = '/Home/Detail?id=' + movieId;
            });
        });
    </script>
</body>

