@using Microsoft.AspNetCore.Identity
@using FilmProject.Domain.Entities
@using Microsoft.Extensions.Localization;
@inject SignInManager<ApplicationUser> SignInManager
@inject IStringLocalizer<SharedResource> localizer;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FilmProject.Presentation</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <!-- Anasayfa Font -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FilmProject.Presentation.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sitil.css" type="text/css">

    <link rel="stylesheet" href="~/css/layout2Header.css" type="text/css">

    <!-- alertify css -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />

</head>
<body>

    <nav class="navbar navbar-dark  fixed-top justify-content-between" style="background-color:#111111">
        <a href="/" class="navbar-brand"> L O G O </a>
        <div>
            <div class="btn-group">
                <button type="button" class="btn bg-transparent btn-outline-secondary dropdown-toggle text-grey" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Language
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item dropdownMenuItem" href="#" value="en-US">English</a>
                    <a class="dropdown-item dropdownMenuItem" href="#" value="tr-TR">Türkçe</a>
                </div>
            </div>
            <div class="btn-group">
                <a href="#" class="btn my-2 my-sm-0"><i class="fa fa-user"></i></a>
                <ul class="dropdown-menu2">

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li><a class="dropdownMenuItem" href="#">Profilim</a></li>
                        <li>
                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button class="btnDefault dropdownMenuItem" type="submit">@localizer["log_out"]  <i class="fa fa-sign-out ml-4" aria-hidden="true"></i></button>
                            </form>
                        </li>

                    }
                    else
                    {
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="dropdownMenuItem">
                                @localizer["log_in"] <i class="fa fa-sign-in ml-4" aria-hidden="true"></i>
                            </a>
                        </li>

                    }


                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top:50px">


        <!-- Header Bitiş -->
        <!-- Main -->

        <main role="main">
            @RenderBody()
        </main>
        <!-- Main Bitiş -->


    </div>


    <script>
        const dropdownItems = document.querySelectorAll('.dropdown-item');
        dropdownItems.forEach(item => {
            item.addEventListener('click', () => {
                const languageCode = item.getAttribute('value');

                $.ajax({
                    url: '/Home/SetLanguage',
                    type: 'POST',
                    data: { culture: languageCode },
                    success: function () {
                        location.reload();
                    }
                });
            });
        });
    </script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/player.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

    @*    alertify js *@
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>






    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
