@using Microsoft.AspNetCore.Identity
@using FilmProject.Domain.Entities
@using Microsoft.Extensions.Localization;
@inject SignInManager<ApplicationUser> SignInManager
@inject IStringLocalizer<SharedResource> localizer;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FilmProject.Presentation</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
      <!-- Anasayfa Font -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FilmProject.Presentation.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sitil.css" type="text/css">
</head>
<body>
     
      <div class="menu-btn">
               <div class="menu-btn__burger">
              </div>
       </div>

    <div class="y-container">
        <!-- Sidebar  -->
            <div class="y-sidebar">
                <div class="position-fixed">
                    <div class="sidebar">
  
                        <div class="sidebar__header">
                        <div class="header__logo logo" id="headerLogoClick">L O G O</div>
                        <div class="header__features">
                            <p class="sidebar__custom-header" >@localizer["features_header"]</p>
                            <div class="line"></div>
                                <ul>
                                    <li>
                                        <a class="custom-p2">@localizer["top_rated"] </a>  <i class="fa fa-heart" aria-hidden="true"></i>
                                    </li>

                                    <li>
                                        <a class="custom-p2">@localizer["most_commented"] </a>    <i class="fa fa-film" aria-hidden="true"></i>
                                    </li>

                                     <li>
                                        <a class="custom-p2" id="last_uploadedMovies">@localizer["last_uploaded"]</a>  <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    </li>
                                </ul>
                                
                            </div>
                       
                        </div>

                    <div class="sidebar__categories">
                        
                        <p class="sidebar__custom-header">@localizer["category_header"]</p>
                        <div class="line"></div>
                            <ul>
                                <li>
                                <a class="custom-p2">@localizer["category_horror"] </a>  <i class="fa-sharp fa-light fa-house"></i>
                            </li>
                                  <li>
                                <a class="custom-p2">@localizer["category_dram"] </a>  <i class="fa-sharp fa-light fa-house"></i>
                                </li>
                                  <li>
                                <a class="custom-p2">@localizer["category_sci-fi"]</a>  <i class="fa-sharp fa-light fa-house"></i>
                                </li>
                                  <li>
                                <a class="custom-p2">@localizer["category_action"]</a>  <i class="fa-sharp fa-light fa-house"></i>
                                </li>
                            </ul>
                      
                     
                        </div>

                    
                    <div class="header-bottom">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button class="btn btn-link sidebar__bottom" type="submit">@localizer["log_out"] </button> <i class="fa fa-sign-out" aria-hidden="true"></i>
                             </form>
                            
                        }
                        else
                        {
                            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button class="btn btn-link sidebar__bottom" type="submit">@localizer["log_in"] <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                            </form>
                            
                        }
                        
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Bitiş -->


             <!-- Main -->
            <div class=" y-content">
                <main role="main">
                @RenderBody()
                </main>
            </div>
             <!-- Main Bitiş -->


    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/player.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
